body{
	background:gray;
}

#marco{
	width:90%; height:auto; float:left;
	margin-left:5%; background:white;
}

header{
	width:100%; height:auto; float:left;
	margin-bottom:5px;
}

#h1baner{
	text-align:center; color:gray;
}

#imgbaner{
	width: 100%; height:220px; float:left;
	padding:4px;
	border:1px solid gray;
	border-radius: 4px;
}

.parrafo {
	text-align:justify;
	font-size: 20px;
	margin: 5px;	
}

.parrafo-fecha{
	text-align:right;
	color:blue;	
}